﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Tranchepenalite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tranchepenalite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tranche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tranche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tonnage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tonnage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarrif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarrif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddeviseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddeviseNavigation.Nomdevise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdquaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdquaiNavigation.Nomquai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idtranchepenalite">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
