﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Penalitehorsplafond

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Penalitehorsplafond</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarrif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarrif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tonnage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tonnage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tranche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tranche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddeviseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddeviseNavigation.Nomdevise)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdquaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdquaiNavigation.Nomquai)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idpenalitehorsplafond" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
