﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Navire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Navire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomnavire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomnavire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tonnage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tonnage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profondeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profondeur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idnavire">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
