﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Detailprevision

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detailprevision</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdprevisionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprevisionNavigation.Noescale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdquaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdquaiNavigation.Nomquai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Iddetailprevision">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
