﻿@model IEnumerable<Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Listeplafond>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarrif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tonnage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdplafondNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarrif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tonnage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdplafondNavigation.Idplafond)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idlisteplafond">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idlisteplafond">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idlisteplafond">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
