﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Detailplafondpenalite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detailplafondpenalite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarrif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarrif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tonnage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tonnage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdplafondpenaliteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdplafondpenaliteNavigation.Idplafondpenalite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Iddetailplafondpenalite">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
