﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Horsplafond

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Horsplafond</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idhorsplafond" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idquai" class="control-label"></label>
                <select asp-for="Idquai" class="form-control" asp-items="ViewBag.Idquai"></select>
                <span asp-validation-for="Idquai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarrif" class="control-label"></label>
                <input asp-for="Tarrif" class="form-control" />
                <span asp-validation-for="Tarrif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tonnage" class="control-label"></label>
                <input asp-for="Tonnage" class="form-control" />
                <span asp-validation-for="Tonnage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tranche" class="control-label"></label>
                <input asp-for="Tranche" class="form-control" />
                <span asp-validation-for="Tranche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iddevise" class="control-label"></label>
                <select asp-for="Iddevise" class="form-control" asp-items="ViewBag.Iddevise"></select>
                <span asp-validation-for="Iddevise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
