﻿@model IEnumerable<Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Tarrification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tranche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarrif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tonnage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddeviseNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdquaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tranche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarrif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tonnage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddeviseNavigation.Nomdevise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdquaiNavigation.Nomquai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idtarrification">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idtarrification">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idtarrification">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
