﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card">
        <div class="card-header">
            <h3>Navigation</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Devises" asp-action="Index">Devise</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Coursdevises" asp-action="Index">Cours de devise</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Quais" asp-action="Index">Quais</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Navires" asp-action="Index">Navires</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Previsions" asp-action="Index">Previsions</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="DetailPrevisions" asp-action="Index">Details de prévisions</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Touches" asp-action="Index">Touchées</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Departs" asp-action="Index">Départs</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Tarrifications" asp-action="Index">Tarrifications</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Plafonds" asp-action="Index">Plafonds de tarrifications</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Listeplafonds" asp-action="Index">Detail de plafonds de tarrifications</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Horsplafonds" asp-action="Index">Hors Plafonds de tarrifications</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Tranchepenalites" asp-action="Index">Définitions des tranches de pénalitées de retards</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Plafondpenalites" asp-action="Index">Plafonds de pénalitées de retards</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Detailplafondpenalites" asp-action="Index">Details de Plafonds de pénalitées de retards</a></li>
            <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-controller="Penalitehorsplafonds" asp-action="Index">Hors Plafonds de pénalitées de retards</a></li>
        </ul>
    </div>
</div>
