﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Coursdevise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coursdevise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ariary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ariary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddeviseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddeviseNavigation.Nomdevise)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idcoursdevise">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
