﻿@model Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Quai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomquai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomquai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profondeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profondeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nbnavire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nbnavire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idquai">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
