﻿@model IEnumerable<Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Quai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomquai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profondeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nbnavire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomquai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profondeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nbnavire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idquai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idquai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idquai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
