﻿@model IEnumerable<Projet_Lina_S5___Systeme_De_Gestion_Portuaire_v6.Models.Prevision>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Noescale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdnavireNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noescale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdnavireNavigation.Nomnavire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idprevision">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idprevision">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idprevision">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
